*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    color: white;
    font-family: sans-serif;
}
body {
    /* background-color: #001; */
    display: flex;
    position: relative;
    min-height: 100vh;
}
.menu {
    background-color: #123;
    width: 400px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: all .5s;
}
/*Start Hover Menu Static */
/*
.menu:hover {
    width: 400px;
}
*/
/*End Hover Menu Static */
.img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}
.profile {
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2 {
    font-size: 20px;
}

.img-container img {
    width: 100%;
}

ul  {
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    text-decoration: none;
    transition: all .5s;
}
ul li a:hover ,
ul li a.active ,
.data-info .box:hover ,
table td:hover {
    background-color: #ffffff55;
}

.log-out {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a {
    background-color: #a00;
}

ul li a svg {
    font-size: 30px;
}
.content {
    width: 100%;
    margin: 10px;
}
.title {
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 ;
    border-radius: 8px;
}
/* Start Modification */

.title .search {
    align-items: center;
    display: flex;
    gap: 10px;
    width: 70%;
}
.title .search input {
    flex-basis: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    color: black;
    outline: none;
    display: none;
}
button  {
    background-color: transparent;
    border: none;
    outline: none;
}
.title .search svg {
    font-size: 20px;
    cursor: pointer;
}

.title .icons {
    display: flex;
    align-items: center;
    gap: 15px;
}
.title .icons svg {
    font-size: 20px;
    cursor: pointer;
}

#bar {
    display: none;
}
#close {
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    display: none;
}
.modal > .menu {
    width: 300px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerOne,
.containerTwo {
    width: 548%;
    height: 40%;
}

/* Start Modification */
@media (max-width : 750px) {
    .menu {
        display: none;
    }
    #bar , #close {
        display: block;
    }
}

/* End Modification */