*{
    padding: 0;
    margin: 0;
  }
  a{
    text-decoration: none;
  }
  .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  /* .side
  {
    display: inline-block;
  } */
  .imgsContainer
  {
    display: flex;
    flex-direction: row;
  }
  .smallImg{
    display: flex;
    flex-direction: column;
  }
  .img{
    width: 9.5rem;
  height: 10.4375rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  margin: 0.3rem;
  }
  .header{
    color: #000;
  
  font-family: "Integral CF";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  .price
  {
    color: #000;
  
  font-family: Satoshi;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  .oldPrice
  {
    color: rgba(0, 0, 0, 0.30);
  font-family: Satoshi;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: line-through;
  }
  .discount
  {
    border-radius: 3.875rem;
  background: rgba(255, 51, 51, 0.10);
  display: inline-flex;
  padding: 0.375rem 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
    color: #F33;
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }
  .description
  {
    color: rgba(0, 0, 0, 0.60);
  
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
  }
  .rate{
    color: #000;
  
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .lable{
    color: rgba(0, 0, 0, 0.60);
  
  
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .opContainer{
    display: flex;
    flex-direction: row;
    
  }
  .option{
    display: flex;
   margin: 0.2rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 3.875rem;
  border-color: #F0F0F0;
  background: #F0F0F0;
  cursor: pointer;
  
  }
  .selected
  {
    background-color: black;
    color: #F0F0F0;
  }
  .option:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .qContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .quantityContainer
  {
    display: flex;
    
  width: 10.625rem;
  height: 3.25rem;
  padding: 1rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.875rem;
  background: #F0F0F0;
  margin: 0.4rem;
  
  }
  .operator
  {
    border: none;
  
  }
  /* .operator:hover
  {
    background-color: rgb(204, 218, 231);
  } */
  /* .quantity-input {
    width: 50px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
  } */
  .btnCart{
    display: flex;
  width: 25rem;
  height: 3.25rem;
  padding: 1rem 3.375rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  flex-shrink: 0;
  border-radius: 3.875rem;
  background: #000;
  color: white;
  
  }
  #review
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .review-heading
  {
    letter-spacing: 1px;
    margin: 30px 0px ;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .review-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: white;
    padding: 10px 20px;
  }
  .review-heading span
  {
    font-size: 1.3rem;
    color : black;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  
  }
  .box{
  
  width: 500px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  border-radius: 0.8rem;
  }
  .user-name
  {
  display: flex;
  flex-direction: column;
  }
  .user-name strong{
  color:black;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  }
  .user-name span{
  color: #979797;
  font-size: 0.8rem;
  }
  .reviews{
  color: #f9d71c;
  }
  .box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  }
  .comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
  }
  .box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
  }
  @media(max-width:1060px)
  {
  .box{
    width: 45%;
    padding: 10px;
  }
  }
  @media(max-width:790px)
  {
  .box{
    width: 100%;
   
  }
  .review-heading h1{
    font-size: 1.4rem;
  }
  }
  @media(max-width:340px)
  {
  .box-top
  {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews{
    margin-top: 10px;
  }
  }
  /* ::selection{
  color: white;
  background-color: #000;
  } */