body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#registrationForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

input {
  width: 95%;
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.input {
  position: relative;
}
.input .with-first,
.input .with-second {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.star {
  color: red;
}
#error_name1,
#error_pass,
#error_confirm,
#error_mail,
#error_name2 {
  color: red;
  font-size: 14px;
}

h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

p {
  color: #666;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}

select,
option {
  font-family: "Arial", "Font Awesome 5 Pro";
  font-weight: 900;
}
#error-phone,
#error-Zip,
#error-pdf,
#error-img {
  color: red;
  font-size: 14px;
}
select {
  cursor: pointer;
}

.filepdf,
.fileimg {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.special {
  color: #45a049;
  font-size: 20px;
  text-align: center;
}