.body {
  margin: 0;
  box-sizing: border-box;
}
* {
  transition: 0.5s all ease;
}
body {
  font-family: "Poppins", sans-serif !important;
  overflow-y: auto !important;
  overflow: hidden;
  direction: ltr;
  scroll-behavior: smooth;
}
img {
  border-radius: 20px;
}
.header-menu-list {
  display: inline;
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}
/* start of first section */
.FirstSection {
  height: 80vh;
  overflow: hidden;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Integral CF";
}
.main-img {
  /* width: 100%; */
  background-image: url("../images/Rectangle 2.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.btnone {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}
.btnone {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background-color: #000;
  box-shadow: 0 20px 30px -6px black;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
  margin: 28px 1130px 32px 100px;
}
.btnone:hover {
  transform: translateY(3px);
  color: whitesmoke;
}
.btnone:active {
  opacity: 0.1;
}
/* end of first section */

/* start of second section */
#seconddiv {
  width: 100%;
  background-color: #000;
}
/* end of second section &&&&&&&&&&&& start of third and fourth section */
#thirdtxt {
  width: 100%;
  top: 991px;
  left: 518px;
  font-family: Integral CF;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
}
.star-rating {
  font-size: 24px; /* Adjust the size as needed */
  margin-bottom: 10px; /* Add some space between items */
}

.star-rating::before {
  content: "★★★★★"; /* Unicode character for a filled star */
  letter-spacing: 3px; /* Adjust the spacing between stars */
  color: gold; /* Color of the stars */
}
.priceshape {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
#btntwo {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #24242b, #3c4647);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}
#btntwo:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}
#btntwo:hover {
  transform: translateY(3px);
  color: whitesmoke;
}
#btntwo:active {
  opacity: 0.1;
}
/* end of third and fourth section &&&&&&&&&&&& start of fifth section */

.browse-container {
  background-color: #f0f0f0;
}
.browse-clothes {
  height: 35vh;
  background-size: cover;
  transition: 0.5s all ease;
}
.browse-clothes:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.5s all ease;
}
.shirts {
  background-image: url("../images/image\ 11.png");
}
.shorts {
  background-image: url("../images/shortsCover.png");
}
.hoodies {
  background-image: url("../images/hoodiesCover.png");
  background-size: cover;
}
.pants {
  background-image: url("../images/pantsCover.png");
}
#lasttxt {
  font-family: Integral CF;
  font-size: 45px;
  font-weight: 700;
  line-height: 58px;
}
/* end of fifth section &&&&&&&&&&&& start of sixth section */

.user-comment {
  height: 100%;
  user-select: none;
}
.social-icon {
  width: 40px;
  height: 40px;
  transition: 0.2s all ease !important;
}
.social-icon:hover {
  color: #ffffff !important;
  background-color: var(--main-color) !important;
  transition: 0.2s all ease !important;
}
.image-container {
  position: relative;
}
/* end of sixth section */
